:root {
  font-size: 62.5%;
  --report-top-btn-color: #ffffff;
  --plain-white: #fff;
  --summary-param-bg: rgba(255, 255, 255, 1);
  --summary-params-color: rgba(39, 30, 74, 1);
  --homepage-color-fill: #f5f6fa;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.summaryparams {
  display: flex;
  gap: 2rem;
  margin-bottom: 2.3rem;
  margin-top: 2.3rem;
}
.summaryparam {
  width: fit-content;
  background-color: rgba(77, 124, 254, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 3.4rem;
  border-radius: 2rem;
  gap: 1rem;
  justify-content: center;
  border: 1px solid black;
}
.summaryparam__value {
  font-size: 4rem;
  font-weight: 700;
  line-height: 4.8rem;
  letter-spacing: -0.04em;
  color: #4D7CFE;
}
.summaryparam__title {
  display: flex;
  align-items: center;
  align-self: flex-start;
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.4rem;
}
.summaryparam__icon {
  aspect-ratio: 1;
  height: 2rem;
}
.homemainv2 {
  background-color: var(--homepage-color-fill);
  display: grid;
  grid-template-rows: 6rem auto;
}
.homemaincontentv2 {
  display: flex;
  flex-direction: column;
  padding-left: 4rem;
}
.homemainheaderv2 {
  font-weight: 600;
  font-size: 4.8rem;
  line-height: 4.8rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.homevizgraph__cont {
  display: flex;
  flex-direction: column;
  gap: 1.9rem;
}
.homevizgraph__singulars {
  display: flex;
  gap: 2.8rem;
}
.datefilters__head {
  margin-bottom: 2.4rem;
}
.head-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3rem;
}
.dashparameter {
  border: 1px solid black;
}